<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kara4k.rulerplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kara4k.rulerplayer.MoozicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:pathPattern=".*\\.mp3"/>
                <data android:pathPattern=".*\\.wav"/>
                <data android:pathPattern=".*\\.ogg"/>
                <data android:pathPattern=".*\\.flac"/>
                <data android:pathPattern=".*\\.mid"/>
                <data android:pathPattern=".*\\.3gp"/>
                <data android:pathPattern=".*\\.mp4"/>
                <data android:pathPattern=".*\\.m4a"/>
                <data android:pathPattern=".*\\.flv"/>
                <data android:pathPattern=".*\\.avi"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.kara4k.rulerplayer.SettingsActivity"/>

        <service
            android:name="com.kara4k.rulerplayer.MusicService"
            android:process=":Doze"/>
        <service
            android:name="com.kara4k.rulerplayer.DestroyService"
            android:stopWithTask="false"/>
    </application>

</manifest>